{% extends "base.html" %}

{% block dictionary %}
<form method="get" action="{% url 'dictionary' %}" class="d-flex">
  <div class="search-wrapper">
    <div class="search-box dark">
        <i class="fas fa-search search-icon"></i>
        <input type="text" name="search_dictionary" class="form-control search-input" placeholder="Dictionary ..."value="{{ dictionary_query }}">
        <button class="btn btn-primary search-button">
          <i class="bi bi-search"> search</i>
            </button>
    </div>
  </div>
</form>
{% endblock%}

{% block searchbar %}
<form method="get" action="" class="d-flex align-items-center mb-4">
  <div class="input-group ms-auto" style="max-width: 200px; bottom: -40px;">
    <input type="text" name="search" class="form-control" placeholder="Search in list..." value="{{ search_query }}">
    <button type="submit" class="btn btn-primary">
  <i class="bi bi-search"></i>
    </button>
  </div>
</form>
{% endblock %}

{% block content %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" class="d-flex justify-content-between align-items-center">
          <span>Word</span>
          <!-- Select dropdown for filtering -->
          <form method="get" action="" class="d-inline">
            <select name="status" class="form-select form-select-sm d-inline w-auto ms-2" style="width: auto;" onchange="this.form.submit()">
              <option value="">All</option>
              <option value="m" {% if status_filter == 'm' %}selected{% endif %}>Memorized</option>
              <option value="l" {% if status_filter == 'l' %}selected{% endif %}>Learning</option>
              <option value="f" {% if status_filter == 'f' %}selected{% endif %}>Forgot</option>
            </select>
            <input type="hidden" name="search" value="{{ search_query }}"> <!-- Preserve search query -->
          </form>
        </th>
        <th scope="col">Meaning</th>
        <th scope="col">Example</th>
      </tr>
    </thead>
    <tbody>
      {% if user.is_authenticated %}
        {% for vocab in vocab_list %}
          <tr>
            <td style="white-space: nowrap;">
              {% if search_query and search_query|lower in vocab.word|lower %}
                <mark id="highlighted-word">{{ vocab.word }}</mark>  <!-- Highlight the word if it matches the search query -->
              {% else %}
                <span style="cursor: pointer;" 
                  onmouseover="this.style.textDecoration='underline';" 
                  onmouseout="this.style.textDecoration='none';" 
                  onclick="window.location.href='{{ vocab.get_absolute_url }}';">
                {{ vocab.word }}
                </span>
              {% endif %}
              [{{ vocab.category }}] 
              <span class="rounded-circle d-inline-block" 
                  style="width: 8px; height: 8px; margin-left: 5px; 
                     background-color: 
                     {% if vocab.status == 'l' %}gray
                     {% elif vocab.status == 'm' %}green
                     {% elif vocab.status == 'f' %}red
                     {% else %}transparent{% endif %};">
              </span>
            </td>
            <td>{{ vocab.meaning }}</td>
            <td>{{ vocab.example }}</td>
            <td>
              <!-- Edit Button -->
              <a href="{% url 'edit_vocab' vocab.id %}" class="btn btn-sm btn-outline-secondary">
                <i class="bi bi-pencil-square"></i>
              </a>
            </td>
          </tr>
        {% endfor %}
      {% else %}
        <h4 class="text-center">Please log in to view your vocabulary list.</h4>
      {% endif %}
    </tbody>
  </table>

{% endblock %}